*.docx
*.doc
*.pdf
*.zip
*.rar

.env
*.env.local
*.env.testing
*.json
__pycache__

.vite

# 忽略 node_modules 下的二进制及构建产物
frontend/node_modules/.bin/
frontend/node_modules/**/*.node
node_modules

*.mp3